body {
	background-color: #C2C5BB;
	font-family: 'Open Sans',sans-serif;
	font-size: 1.5em;
}

.main-body {
	padding: 0 10px 0 10px;
	margin: 100px 100px 50px 100px;
	text-align: center;

}

img {
	border: 1px solid black;
}

#header-menu a {
	color: #C2C5BB;
}

.skill {
	flex: 4;
}

#logo a {
	color: black;
	text-decoration: none;
}

#logo a:visited {
	text-decoration: none;
}

.flex-box {
	display: flex;
}

.cooking-intro h1 {
	padding-left: 40px;
	padding-right: 40px;
}
.cooking-intro p {
	padding-right: 40px;
	padding-left: 40px;
}

@media screen and (min-width: 960px) {
	.half {
		width: 50%;
		float: left;
	}

	.main-body {
		margin: 100px 50px 50px 50px;
	}
}

@media screen and (max-width: 800px) {
	#header-menu li {
		display: none;
	}
}

.logo {
	display: block;
	width: 50px;
	height: 50px;
	background: url(img/fb.svg);
	background-size: 50px 50px;
	cursor: pointer;
	text-indent: -9999px;
}

#header-menu li {
	list-style: none;

}

.directions {
	width: 650px;
	margin: 0 auto;
}

.directions ul {
	text-align: left;
}

#header-menu li {
	float: left;
	margin: 20px;
}

* {
			padding: 0px;
			margin:0px;
		}

		header {
			height: 100px;
			width: 100%;
			background-color: #157A6E;
			color: black;
		}

		#header-menu {
			font-size: 16px;
			padding:25px;
		}

		#logo {
			font-size: 50px;
			padding: 16px 0px 16px 30px;
			float: left;
		}

		#header-menu li {
			margin-left: 50px;
			float: right;
		}

	.jumbotron {
		padding-top: 100px;
		padding-bottom: 100px;
		text-align: center;
		background-color: #499F68;

	}

	.active {
		text-decoration: underline;
	}

	.img-box {
		margin: 30px;
		display: inline-block;
	}

	.content {
		margin: 0 auto;

	}

	a.button {
		padding: 10px;
		border-radius: 5px;
		background-color: #C2C5BB;
		cursor: pointer;
		font-weight: 400;
		font-size: 20px;
		text-decoration: none;
		color: white;
	}

	.button-div {
		margin-top: 20px;
	}

	a.button:hover {
		opacity: 0.7;
	}

	.main-img {
		width: 100%;
	}

	table {
		font-size: 16px;
	}

	table,tr {
		min-width: 500px;
		border: 0px;
	}

	td, th {
		padding: 5px;
		
	}
	
	tr:nth-child(odd) {
		background-color: #499F68;

	}

	tr:first-child {
		background-color: #157A6E;
	}

	#header-menu a {
		text-decoration: none;
	}

	#header-menu a:visited {
		text-decoration: none;
	}

	.table-div table{
		margin: 0 auto;
	}






